<h3 class="font-semibold">Plan a trip</h3>
<p class="description text-neutral-500 mt-2">
  Select which transport is the most suitable for you, enter your location and
  you’re ready to go!
</p>
<div class="cards">
  <div
    class="cards__card rounded-lg"
    *ngFor="let card of cards"
    [ngStyle]="{ 'border-color': card.active ? card.color : '#D9DDE1' }"
    (click)="changeFilter(card)"
  >
    <div class="cards__card__icon mb-3" [style.background-color]="card.iconBg">
      <img [src]="card.icon" alt="transport_icon" />
    </div>
    <span>
      {{ card.type }}
    </span>
  </div>
</div>
